# CMake and Make files
CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake

# binaries
hadamard
simple
libcuSlater.so

# profiling
*.qdrep
*.sqlite

# format
.prettierignore
.vscode
.clang-format